version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - //var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - jenkins-net

  jenkins-agent:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jenkins-agent
    environment:
      - JENKINS_URL=http://jenkins:8080
      - JENKINS_AGENT_NAME=Muscle-Agent
      - JENKINS_SECRET= ec2ccf47c4cdeb7d3b5446213b604d8560849394290e5e6ed6ac42a4074e84e4
      - JENKINS_AGENT_WORKDIR=/home/jenkins/agent
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins-net
    depends_on:
      - jenkins

volumes:
  jenkins_data:

networks:
  jenkins-net:
